table {
	border-collapse: collapse;
/*	display: inline;*/
}

td {
	width: 20px;
	height: 20px;
}

table, td {
	border: solid 3px black;
}

#kraj {
	display: none;
}

{
	animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}